@import url(https://fonts.googleapis.com/css?family=Mountains+of+Christmas:700);
@import url(https://fonts.googleapis.com/css?family=Mountains+of+Christmas);

body {
  margin: 0;
  font-family: 'Mountains of Christmas';
  text-align: center;
  background-color: #f0daa0;
  background-image: url('backround.jpg');
  background-repeat: no-repeat;
  margin: 0;
  text-align: -webkit-center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
