@import url(https://fonts.googleapis.com/css?family=Mountains+of+Christmas:700);
@import url(https://fonts.googleapis.com/css?family=Mountains+of+Christmas);

body {
  margin: 0;
  font-family: 'Mountains of Christmas';
  text-align: center;
  background: #030329ea;
  background-repeat: no-repeat;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
